.gallery-video-main {
  background-color: transparent;
  display: block;
  position: absolute;
  transform: translate(700%, 250%);

  .gallery-video-playbtn {
    button {
      outline: none !important;
      border: none !important;
      background-color: transparent;
    }
  }

  #gallery-video-playbtn {
    background-color: transparent !important;
    outline: none;
    border: none !important;
  }
}



